name: Build APK and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.3'

    - name: Check Flutter version
      run: flutter --version
      
    - name: Setup JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'
      
    - name: Build with Flutter
      run: flutter build apk --release
      
    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: app-release
        path: build/app/outputs/flutter-apk/app-release.apk

    - name: Read version
      id: version
      run: echo "::set-output name=version::$(cat version.txt)"

    - name: Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: >
        gh release create v${{ steps.version.outputs.version }}
        "build/app/outputs/flutter-apk/app-release.apk#App Release APK"
        --generate-notes
        --title "Version v${{ steps.version.outputs.version }}"
