name: Build APK and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.3'

    - name: Check Flutter version
      run: flutter --version
      
    - name: Setup JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'
      
    - name: Build with Flutter
      run: flutter build apk --release
      
    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: app-release
        path: build/app/outputs/flutter-apk/app-release.apk

    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v1
      with:
        files: build/app/outputs/flutter-apk/app-release.apk
        tag_name: v1.0
        name: Release v1.0
        body: This is the release

